<div class="container">
  <br>
  <div class="card">
    <div class="card-header"><b>Create Admin Identities</b></div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <label for="msp"><b>MSP :</b></label>
          <input type="text" class="form-control" id="msp">
        </div>
        <div class="col">
          <label for="name"><b>Name :</b></label>
          <input type="text" class="form-control" id="name">
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-success mx-auto d-block">Generate</button>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header"><b>Create User Identities</b></div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <label for="msp"><b>MSP :</b></label>
          <input type="text" class="form-control" id="msp">
        </div>
        <div class="col">
          <label for="name"><b>Name :</b></label>
          <input type="text" class="form-control" id="name">
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-success mx-auto d-block">Generate</button>
    </div>
  </div>
  <br>
</div>
